<div class="hero-unit">
  <h1><%= t('pages.home.title')%></h1>
  <p><%= t('pages.home.subtitle')%></p>
  <p><%= link_to t('pages.home.sign_up'), new_user_registration_path, :class => "btn btn-primary btn-large" %></p>
</div>