// Place all the styles related to the List controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_task_overview{
	text-align: center;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
}
tr.error{
	background-color: #F2DEDE;
}
td.truncated{
	cursor: pointer;
}
